@tailwind base;
@tailwind components;
@tailwind utilities;

/* Native CN Color Variables */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 6.6667%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 6.6667%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 6.6667%;
    --primary: 65, 100%, 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 94.1176%;
    --secondary-foreground: 0 0% 6.6667%;
    --muted: 0 0% 94.1176%;
    --muted-foreground: 0 0% 45.098%;
    --accent: 0 0% 94.1176%;
    --accent-foreground: 0 0% 6.6667%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 0 0% 98.0392%;
    --border: 0 0% 87.8431%;
    --input: 0 0% 87.8431%;
    --ring: 67.5 100% 37.6471%;
    --chart-1: 67.5 100% 37.6471%;
    --chart-2: 66.4151 100% 31.1765%;
    --chart-3: 65.625 100% 25.098%;
    --chart-4: 64.3299 100% 19.0196%;
    --chart-5: 63.5294 100% 13.3333%;
    --sidebar: 0 0% 94.1176%;
    --sidebar-foreground: 0 0% 45.098%;
    --sidebar-primary: 67.5 100% 37.6471%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 100%;
    --sidebar-accent-foreground: 0 0% 6.6667%;
    --sidebar-border: 0 0% 87.8431%;
    --sidebar-ring: 67.5 100% 37.6471%;
    --font-sans: var(--font-geist-sans);
    --font-serif: var(--font-source-serif-pro);
    --font-mono: var(--font-geist-mono);
    --radius: 0.75rem;
    --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.1),
      0px 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.1),
      0px 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.1),
      0px 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.1),
      0px 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.1),
      0px 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0rem;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 0 0% 6.6667%;
    --foreground: 0 0% 96.0784%;
    --card: 0 0% 10.9804%;
    --card-foreground: 0 0% 96.0784%;
    --popover: 0 0% 10.9804%;
    --popover-foreground: 0 0% 96.0784%;
    --primary: 67.5294 100% 50%;
    --primary-foreground: 0 0% 6.6667%;
    --secondary: 0 0% 16.4706%;
    --secondary-foreground: 0 0% 96.0784%;
    --muted: 0 0% 16.4706%;
    --muted-foreground: 0 0% 63.9216%;
    --accent: 0 0% 16.4706%;
    --accent-foreground: 0 0% 87.8431%;
    --destructive: 0 95.8042% 28.0392%;
    --destructive-foreground: 0 0% 98.0392%;
    --border: 0 0% 16.4706%;
    --input: 0 0% 16.4706%;
    --ring: 67.5294 100% 50%;
    --chart-1: 67.5294 100% 50%;
    --chart-2: 75.0588 100% 50%;
    --chart-3: 82.5882 100% 50%;
    --chart-4: 90.1176 100% 50%;
    --chart-5: 97.6471 100% 50%;
    --sidebar: 0 0% 6.6667%;
    --sidebar-foreground: 0 0% 63.9216%;
    --sidebar-primary: 67.5294 100% 50%;
    --sidebar-primary-foreground: 0 0% 6.6667%;
    --sidebar-accent: 0 0% 16.4706%;
    --sidebar-accent-foreground: 0 0% 96.0784%;
    --sidebar-border: 0 0% 16.4706%;
    --sidebar-ring: 67.5294 100% 50%;
    --font-sans: var(--font-geist-sans);
    --font-serif: var(--font-source-serif-pro);
    --font-mono: var(--font-geist-mono);
    --radius: 0.75rem;
    --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.13);
    --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.13);
    --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.25),
      0px 1px 2px -1px hsl(0 0% 0% / 0.25);
    --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.25),
      0px 1px 2px -1px hsl(0 0% 0% / 0.25);
    --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.25),
      0px 2px 4px -1px hsl(0 0% 0% / 0.25);
    --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.25),
      0px 4px 6px -1px hsl(0 0% 0% / 0.25);
    --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25),
      0px 8px 10px -1px hsl(0 0% 0% / 0.25);
    --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.63);
  }

  body {
    letter-spacing: var(--tracking-normal);
  }

  body {
    letter-spacing: var(--tracking-normal);
  }
}
